﻿<form asp-action="Listfilter" asp-controller="Viewer" method="post">
	<select name="choix">
		<option value="0">Tous les viewers</option>
		<option value="10">Les plus présents</option>
	</select>
	<button type="submit">Filter</button>
</form>

<table class="table">
	<thead>
		<tr>
			<th>
				Id
			</th>
			<th>
				prenom
			</th>
			<th>
				email
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var viewer in Model)
		{
			<tr>
				<td>@viewer.id</td>
				<td>@viewer.prenom</td>
				<td>@viewer.email</td>
			</tr>
		}
	</tbody>
</table>
