﻿<form asp-action="Add" asp-controller="Stream" method="post">
    <input type="datetime-local" name="UnStream.date" />
    <input type="text" name="UnStream.titre" />
    <select name="UnStream.statut">
        <option value="A venir">A venir</option>
        <option value="En cours">En cours</option>
        <option value="Fini">Fini</option>
    </select>
    <button type="submit">Ajouter</button>
</form>