﻿<table class="table">
	<thead>
		<tr>
			<th>
				Date
			</th>
			<th>
				titre
			</th>
			<th>
				statut
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var stream in Model)
		{
			<tr>
				<td>@stream.Date</td>
				<td>@stream.titre</td>
				<td>@stream.statut</td>
			</tr>
		}
	</tbody>
</table>
